/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&family=Yeseva+One&display=swap');

:root {
    --blue-bayoux: #535d80;
    --cape-honey: #fee1b3;
    --manhattan: #f5ad97;
    --golden-bell: #e68312;
    --martinique-shadow: 0px 3px 3px rgb(44,42,72, 0.9);
    --martinique: #2c2a48;
    --rose-bud: #fbaea6;
}
*/ {
    font-family: 'Josefin Sans', sans-serif, 'Yeseva One', cursive;
    line-height: 1.5px;
} 

/* <== DEFAULT STYLING ==> */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* <== TYPOGRAPHY ==> */
h1 {
    font-size: 80px;
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

/* <== HEADER STYLING ==> */
.head-container {
    width: 100%;
    height: auto;
    background: var(--blue-bayoux);
}

header h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 80px;
    color: var(--golden-bell);
    text-shadow: var(--martinique-shadow);
    
}

/* <--- - home button - ----> */
#home-btn {
    background: var(--manhattan);
    box-shadow: var(--martinique-shadow);
}

#home-btn:hover {
    background: var(--cape-honey);
}
/* <== MAIN STYLING ==> */
main {
    margin: 50px;
    align-items: center;
}

/* <--- - card - ----> */
.card-container {
    background-color: var(--cape-honey);
    max-width: 800px; /* fits the current image */
}

.card-container img {
    border-radius: 24px;
    min-width: 100%;
    min-height: 100%;
    box-shadow: var(--martinique-shadow);
}

.card-container .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--martinique);
    
}

.card-container:hover .overlay {
    opacity: 1;
}

.card-container .text {
    color: var(--rose-bud);
    text-align: center;
    overflow: none;
}

.card-container .text p {
    text-align: justify;
}

/* ---------------------------------------------------------- */
/* <=== - WEATHER DASHBOARD - ===> */
/* - search bar - */
#city-input {
    font-size: 50px;
    padding-left: 20px;
    width: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: var(--martinique-shadow);
}

#city-input::placeholder {
    opacity: 0.5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: var(--rose-bud);
}

#search-btn {
    width: 10%;
    font-size: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--martinique);
    box-shadow: var(--Martinique-shadow);
}

#search-btn i {
    font-size: 40px;
    color: white;
}

/* ---------------------------------------------------------- */
/* <=== - JOKE GENERATOR - ===> */
/* - search bar - */

/* #joke-label {

} */

#joke-input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    box-shadow: var(--martinique-shadow);
}

#joke-gen-btn {
    width: 10%;
    font-size: 50px;
    border-radius: 15px;
    background-color: var(--martinique);
    box-shadow: var(--Martinique-shadow);
}

#joke-gen-btn i {
    font-size: 50px;
    color: white;
}

#joke-gen-btn .j-btn-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 15px;
    background-color: var(--martinique);
    color: white;
}

#joke-gen-btn:hover .j-btn-overlay {
    opacity: 1;
}

/* ---------------------------------------------------------- */
/* <=== - WOULD YOU RATHER? - ===> */
/* - wyr generate button - */
#wyr-btn {
    width: 50%;
    height: 120px;
    font-size: 50px;
    border-radius: 15px;
    background-color: var(--golden-bell);
    color: var(--manhattan);
    box-shadow: var(--martinique-shadow);
}

#wyr-btn i {
    font-size: 50px;
}

#wyr-btn .wyr-btn-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    border-radius: 15px;
    background-color: var(--cape-honey);
    color: var(--martinique);
}

#wyr-btn:hover .wyr-btn-overlay {
    opacity: 1;
}

/* - wyr htp button - */
#wyr-htp-btn {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--blue-bayoux);
    opacity: 0.6;
}

#wyr-htp-btn:hover {
    color: var(--golden-bell);
    opacity: 0.9;
    text-decoration: underline;
}

/* - wyr modal - */
#wyr-htp-modal .modal-dialog,
#wyr-play-modal .modal-dialog {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2;
    box-shadow: var(--martinique-shadow);
}

#wyr-play-modal .close { /* moves the close button to the right */
    text-align: right;
    padding: 10px;
}