/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&family=Yeseva+One&display=swap');

:root {
    --blue-bayoux: #535d80;
    --cape-honey: #fee1b3;
    --manhattan: #f5ad97;
    --golden-bell: #e68312;
    --martinique-shadow: 0px 3px 3px rgb(44,42,72, 0.9);
    --martinique: #2c2a48;
    --rose-bud: #fbaea6;
    --nice-sand: #efebe2;
}
*/ {
    font-family: 'Josefin Sans', sans-serif, 'Yeseva One', cursive;
    line-height: 1.5px;
} 

main {
    margin: 50px;
    padding: 50px;
}

/* <== TYPOGRAPHY ==> */
h1 {
    font-size: 80px;
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

/* <== HEADER STYLING ==> */
.head-container {
    width: 100%;
    height: auto;
    background: var(--blue-bayoux);
}

header h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 80px;
    color: var(--golden-bell);
    text-shadow: var(--martinique-shadow);
    
}

/* <--- - home button - ----> */
#home-btn {
    background: var(--manhattan);
    box-shadow: var(--martinique-shadow);
}

#home-btn:hover {
    background: var(--cape-honey);
}
/* <== MAIN STYLING ==> */
main {
    margin: 50px;
    align-items: center;
}

/* <--- - card - ----> */
.card-container {
    background-color: var(--cape-honey);
    max-width: 800px; /* fits the current image */
}

.card-container img {
    border-radius: 24px;
    min-width: 100%;
    min-height: 100%;
    box-shadow: var(--martinique-shadow);
}

.card-container .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--martinique);
    
}

.card-container:hover .overlay {
    opacity: 1;
}

.card-container .text {
    color: var(--rose-bud);
    text-align: center;
    overflow: none;
}

.card-container .text p {
    text-align: justify;
}

/* ---------------------------------------------------------- */
/* <=== - WEATHER DASHBOARD - ===> */
/* - search bar - */
#city-input {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    padding-left: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 0.1px;
    border-color: var(--golden-bell);
    box-shadow: var(--martinique-shadow);
}

#city-input::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: var(--martinique);
}

#search-btn {
    width: 65px;
    font-size: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--martinique);
    box-shadow: var(--martinique-shadow);
    overflow: none;
}

#search-btn i {
    font-size: 40px;
    color: var(--golden-bell);
}

/* - weather results container - */
#weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px;
}

#weather-container .card {
    width: 800px;
    color: var(--martinique);
    background-color: var(--nice-sand);
    box-shadow: var(--martinique-shadow);
}

/* ---------------------------------------------------------- */
/* <=== - JOKE GENERATOR - ===> */
/* - search bar - */
#joke-input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 20px;
    width: 60%;
    border-width: 0.1px;
    border-color: var(--golden-bell);
    border-radius: 15px;
    box-shadow: var(--martinique-shadow);
}

#joke-gen-btn {
    width: 350px;
    height: 50px;
    font-size: 50px;
    border-radius: 15px;  
}

#joke-gen-btn img {
    border-radius: 15px;
    box-shadow: var(--martinique-shadow);
}

#joke-gen-btn .j-btn-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 15px;
    background-color: var(--martinique);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--rose-bud);
}

#joke-gen-btn:hover .j-btn-overlay {
    opacity: 1;
}

#joke-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px;
}

#joke-display .card {
    color: var(--martinique);
    box-shadow: var(--martinique-shadow);

}

/* ---------------------------------------------------------- */
/* <=== - CARDS AGAINST HUMANITY - ===> */
/* - role buttons - */
.cah-btn-container {
    height: 60%;
    padding: auto;
}

#player-btn,
#judge-btn,
#wcard-btn,
#bcard-btn,
#new-game-btn {
    width: 350px;
    height: 120px;
    border-radius: 15px; 
}

#player-btn img,
#judge-btn img,
#wcard-btn img,
#bcard-btn img,
#new-game-btn img {
    border-radius: 24px;
    min-width: 100%;
    min-height: 100%;
    box-shadow: var(--martinique-shadow);
}

/* - generate cards - */
.wcard, .bcard {
    border-width: 0.1px;
    border-color: var(--martinique);
    width: 350px;
    height: 500px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px;
    box-shadow: var(--martinique-shadow);
}

/* turns cards black to hide them when user clicks a card to play (CAH) */
.wcard.toggled {
    background: black;
}

#wcard-text-content {
    height: 90%;
}

.wcard-x-btn, 
.bcard-x-btn {
    opacity: 0.4;
}

.wcard-x-btn:hover, 
.bcard-x-btn:hover {
    opacity: 1;
}

.bcard {
    background: black;
    color: white;
}

/* - scoreboard - */
.scoreboard {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    padding: 10px;
    border-width: 1px;
    border-color: var(--martinique);
    background-color: var(--cape-honey);
    box-shadow: var(--martinique-shadow);
}

.score-header {
    margin: 10px;
}

.score-header h2 {
    font-size: 25px;
}

.scoreboard hr {
    display: block;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 96%;
    background-color: var(--martinique);
    height: 1px;
}

#new-player-input {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    border-width: 0.1px;
    border-color: var(--martinique);
    padding-left: 10px;
    width: 100%;
}

#new-player-input::placeholder {
    opacity: 0.7;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: var(--martinique);
}

#add-player-btn {
    padding-left: 10px;
    color: var(--martinique);
}

#add-point-btn {
    color: var(--martinique);
}

#add-player-btn:hover, 
#add-point-btn:hover {
    color: var(--golden-bell);
}

#player-list {
    width: 96%
}

#player-list li p,
#player-list li button {
    padding: 3px 0;
    font-size: 20px;
}
/* ---------------------------------------------------------- */
/* <=== - WOULD YOU RATHER? - ===> */
/* - wyr generate button - */
#wyr-btn {
    width: 500px;
    height: 120px;
    font-size: 50px;
    border-radius: 15px;
    background-color: var(--golden-bell);
    color: var(--manhattan);
    box-shadow: var(--martinique-shadow);
}

#wyr-btn i {
    font-size: 50px;
}

#wyr-btn img {
    border-radius: 15px;
}

#wyr-btn .wyr-btn-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    border-radius: 15px;
    background-color: var(--cape-honey);
    color: var(--martinique);
}

#wyr-btn:hover .wyr-btn-overlay {
    opacity: 1;
}

/* - wyr htp button - */
#wyr-htp-btn {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--blue-bayoux);
    opacity: 0.6;
}

#wyr-htp-btn:hover {
    color: var(--golden-bell);
    opacity: 0.9;
    text-decoration: underline;
}

/* - wyr modal - */
#wyr-htp-modal .modal-dialog,
#wyr-play-modal .modal-dialog {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2;
    box-shadow: var(--martinique-shadow);
}

#wyr-play-modal .close { /* moves the close button to the right */
    text-align: right;
    padding: 10px;
}

