/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&family=Yeseva+One&display=swap');

:root {
    --blue-bayoux: #535d80;
    --cape-honey: #fee1b3;
    --manhattan: #f5ad97;
    --golden-bell: #e68312;
    --martinique-shadow: 0px 3px 3px rgb(44,42,72, 0.9);
    --martinique: #2c2a48;
    --rose-bud: #fbaea6;
}
*/ {
    font-family: 'Josefin Sans', sans-serif, 'Yeseva One', cursive;
    line-height: 1.5px;
} 

/* <== DEFAULT STYLING ==> */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* <== TYPOGRAPHY ==> */
h1 {
    font-size: 80px;
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

/* <== HEADER STYLING ==> */
.head-container {
    width: 100%;
    height: auto;
    background: var(--blue-bayoux);
}

header h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 80px;
    color: var(--golden-bell);
    text-shadow: var(--martinique-shadow);
    
}

/* <--- - home button - ----> */
#home-btn {
    background: var(--manhattan);
    box-shadow: var(--martinique-shadow);
}

#home-btn:hover {
    background: var(--cape-honey);
}
/* <== MAIN STYLING ==> */
main {
    margin: 50px;
    align-items: center;
}

/* <--- - card - ----> */
.card-container {
    background-color: var(--cape-honey);
    max-width: 800px; /* fits the current image */
}

.card-container img {
    border-radius: 24px;
    min-width: 100%;
    min-height: 100%;
    box-shadow: var(--martinique-shadow);
}

.card-container .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--martinique);
    
}

.card-container:hover .overlay {
    opacity: 1;
}

.card-container .text {
    color: var(--rose-bud);
    text-align: center;
    overflow: none;
}

.card-container .text p {
    text-align: justify;
}





